/* Your Code Goes Here */
/*------------------------------------*\
RESET
\*------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0b1 | 201101 
NOTE:WORK IN PROGRESS
USE WITH CAUTION AND TEST WITH ABANDON */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ’’;
  content: none;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', arial, sans-serif;
  background-color: #FFFFFF;
  color: #222222;
}
.container {
  width: 1024px;
  margin: 0 auto;
}
h1 {
  font-weight: bold;
  font-size: 2.4rem;
}
h2 {
  font-weight: bold;
  font-size: 6.4rem;
  line-height: 7.5rem;
  color: #FFFFFF;
}
h3 {
  font-weight: bold;
  font-size: 2.4rem;
}
h4 {
  font-size: 2.4rem;
  letter-spacing: 0.8rem;
  color: #222222;
}
p {
  font-size: 1.6rem;
  line-height: 2.4rem;
}
a {
  color: #222222;
  text-decoration: none;
}
.menu {
  width: 1024px;
  background: #9EA9B3;
  color: #FFFFFF;
  position: fixed;
  z-index: 1;
}
.menu .menu-content {
  margin: 1% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 600px) {
  .menu .menu-content {
    margin: 4.3% 4.7%;
  }
}
.menu a {
  font-weight: bold;
  color: #FFFFFF;
}
.nav-open {
  display: block;
}
.nav-open-toggle {
  display: none;
}
.nav-close {
  display: none;
}
.nav-close-toggle {
  display: block;
}
.nav {
  display: none;
}
.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #9EA9B3;
  opacity: 0.9;
  z-index: -1;
}
.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
a.nav-link-selected {
  color: #222222;
}
footer {
  width: 1024px;
  background: #828282;
  color: #FFFFFF;
  padding-top: 5%;
}
@media (max-width: 900px) {
  footer {
    margin-top: 10%;
  }
}
@media (max-width: 600px) {
  footer {
    margin-top: 25%;
    padding: 10% 0 0;
  }
}
footer h3 {
  font-size: 2rem;
  line-height: 2.4rem;
}
footer p {
  font-size: 1.4rem;
  line-height: 2.6rem;
}
footer .footer {
  margin: 0 62px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  footer .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  footer .footer {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
footer .footer .input-contact input {
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  padding: 6px;
  font-size: 14px;
}
@media (max-width: 600px) {
  footer .footer .input-contact input {
    width: 100%;
    margin: 5% 0 4%;
  }
}
footer .footer .input-contact p {
  font-size: 13px;
}
footer .footer .locations {
  width: 61%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 900px) {
  footer .footer .locations {
    width: 60%;
    justify-content: space-evenly;
  }
  footer .footer .locations h3 {
    margin-top: 25%;
  }
  footer .footer .locations p {
    line-height: 2.8rem;
  }
}
@media (max-width: 600px) {
  footer .footer .locations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  footer .footer .locations h3 {
    margin-top: 15%;
  }
}
footer .copyright p {
  text-align: center;
  font-size: 12px;
}
@media (max-width: 900px) {
  footer .copyright p {
    margin: 6% 4.7% 0;
  }
}
@media (max-width: 600px) {
  footer .copyright p {
    text-align: left;
  }
}
